/*



*/


.block {
    background: #1e2745;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 5px 10px 20px;
    text-align: center;
}


.img {
    width: 9em;
    margin-right: 1em;
}

.block figure {
    display: flex;
    align-items: center;
    margin: 5px;
}

.block figure figcaption {
    display: flex;
    flex-direction: column;
}

.block ul {
    display: flex;
}

.block ul li a figure img {
    margin-right: 5px;
}

.block ul li a figure figcaption {
    color: #50b5ff;
}


.block ul li {
    background: #29324f;
    padding: 5px;
    border-radius: 10px;
    margin-right: 20px;
}

.block ul li div {
    width: 40px;
    height: 30px;
    display: flex;
}

.block ul li div a {
    height: 5px;
    margin: auto;

}


.text {
    resize: none;
    width: 30em;
    height: 5em;
    padding: 9px;
    background: #29324f;
    border: none;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    color: #50b5ff;

}


.but {
    width: 10em;
    margin: 5% 0 0 50%;
}







