/*


*/


.head {

    border-radius: 5px;
    height: 350px;
    background: url("profile-bg3.jpg") no-repeat center;
    background-size: cover;

}













































































































































































