/**/


.nav{
    width: 12%;
    position: fixed;
    left: 0;
    top: 70px;
}


.bla {
    text-align: center;
    overflow: auto;
    background: #1e2345;
}

.bla li {
    margin: 20px;
    padding: 5px;
}


.colorLink {
    color: #50b5ff;
    background: #29324f;
    padding: 15px;
    border-radius: 30px;
}













