/*


*/


.fig {
    display: flex;
    align-items: center;
}

.block figure {
    display: flex;
    align-items: center;
    padding: 10px;
}


.block figcaption a {
    margin: 10px;
}


























