/*


*/

.block {
    padding: 10px;
}

.block figure, figcaption {
    display: flex;
    align-items: center;
    /*margin: 4px;*/
}

.block figure {
    padding: 10px;
}


.block figcaption a {
    margin: 10px;
}


























