/*


*/



.users{
    cursor: pointer;
}


.users figure {
    padding: 10px;
    display: flex;
    align-items: center;
}

.users figcaption {
    display: block;
}

.users figure figcaption p {
    margin: 5px;
    font-size: 12px;
}


.users img {
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
}


.users figcaption h4:hover {
    color: #093fc4;
}











